@use 'variables' as *;

footer {
    background-color: $tertiaryColor;
    padding: 10px;
    .footer {
        font-family: $headingFont;
        text-transform: none;
        font-size: 20px;
        text-align: center;
        color: $primaryColor;
    }
}